@model IEnumerable<E_comerce_Inventory.Models.DataModels.Product>
@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-3 justify-content-around">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">

        <div class="row pb-2 ">
            <div class="col-12 p-1 " style="border: 1px solid #008cba; border-radius:5px">
                <div class="card" style="border:0px">
                        <img src="@product.ImageUrl" class="card-img-top rounded"/>
                        <div class=" pl-1">
                            <p class="card-text h5" style="color:white">
                                @product.Description
                            </p>
                        </div>
                         <div>
                                <p>
                                    Precio : <b>@product.Price.ToString("C",new CultureInfo("es-AR"))</b>
                                </p>
                         </div>

                         <div class="">
                             <a asp-action="Detail" class="btn btn-primary form-control" asp-route-id="@product.Id">Detalle</a>
                         </div>
                    </div>
                
                </div>
            </div>
        </div>
    }
</div>