@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Orden Procesada Correctamente</h1><br />
        <img src="~/img/orders/confitmation.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Gracias Por tu Orden! <br />
        Hemos recibido tu Orden y Nosotros te enviaremos un email pronto!
        <br />
        Your Order Number is : @Model
        <a asp-area="Inventory" asp-controller="Home" asp-action="Index"  class="btn btn-success">Salir</a>
        @*con target = _blanck escuando se nos habre en otra ventana*@
        <a asp-action="ShowDetailOrderPdfInPage" asp-route-id="@Model" class="btn btn-success" target="_blank">Ver PFD</a>
        <a asp-action="DownloadFilePdfOfTheOrder" asp-route-id="@Model" class="btn btn-success">Descargar PDF</a>


    </div>
</div>

