@*esta vista va a recibir el Id , y para indicar eso en el modelo le indico que el un int *@
@model int 
@*ahroa en el boton indico asp-route para que pueda recibir un parametro, asp-route-id es solo un nombre *@
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Actualizar</button>
    </div>
    <div class="col">
        @* No detallo el controller , ya que es una vista parcial y va a trabajar con el controlador en el que se encuentre en ese momento*@
        <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
    </div>
</div>
